@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
    color: #fff;
}
.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    color: #222;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    transition: 1.6s ease-out;
}
.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input {
    color: #080833;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}
img {
    
    width: 25px;
    height: 25px;
    background-color: #fff;
}

.error404 {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
