* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}